.block {
  display: block;
}
.center-block {
  display: block;
  margin-inline: auto;
  float: none !important;
}
/** Width */
.w-100p {
  width: 100%;
}
.w-300 {
  width: 300px;
}
.w-500 {
  width: 500px;
}
/** Margin */
.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-10 {
  margin-bottom: 10px;
}
.mb-50 {
  margin-bottom: 50px;
}

/** Border */
.border-none {
  border: none;
}

/** Padding */
.p-40 {
  padding: 40px;
}

.outline-none {
  outline: none;
}

.fs-32 {
  font-size: 32px;
}

.ff-solid {
  font-family: 'Solid';
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
/** 빈공간 있을 경우 기본세팅(현재는 801~1023 사이) */
.grid-container * {
  grid-column: auto;
}
/** 576px 이하 */
@media screen and (max-width: 576px) {
  .xs-12 {
    grid-column: auto / span 12;
  }
}

@media screen and (min-width: 576px) {
  .sm-12 {
    grid-column: auto / span 12;
  }
}
/* grid-lg 정의 */
@media screen and (min-width: 1024px) {
  .lg-auto {
    grid-column: auto;
  }
  .lg-4 {
    grid-column: auto / span 4;
  }
  .lg-8 {
    grid-column: auto / span 8;
  }
}
@media screen and (min-width: 1368px) {
  .xl-12 {
    grid-column: auto / span 12;
  }
}
